.createContainer {
  background-color: #0439D9;
  width: 80vw;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;

  span {
    color: white;
    font-size: 24px;
    margin-bottom: 20px;
  }
  select {
    color: white;
    border-radius: 5px;
    border: 1px solid rgba(128, 128, 128, 0.486);
    background-color: #056CF2;
    width: 100px;
  }

  button {
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid rgba(128, 128, 128, 0.486);
    background-color: #056CF2;
    color: white;
    margin-top: 10px;
    width: 100px;
    height: 50px;

    &:hover{
      background-color: rgb(2, 75, 172);
    }
  }
}