.playContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;

  padding: 10px;

  button {
    color: white;
    border: 1px solid white;
    background-color: transparent;
    border-radius: 1px;
    font-size: 14px;
    padding: 3px 6px;
    margin: 5px;
  }

  .messages{
    height: 50px;
    border: 1px solid #000;
  }
}